*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: lightcyan;
    font-family: cursive;
}
#title{
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #333;
    margin-bottom: 20px;
}
#clock{
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-left: 23px;
}